<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="TestNamespace_TestModuleName::blog_admin_main" title="Blog Menu" translate="title" sortOrder="10">
                    <resource id="TestNamespace_TestModuleName::blog_admin_grid" title="Manage Posts" translate="title" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
